## Logistic Regression
Uses data from the General Social Survey.
See https://gss.norc.org/ for more information & to get data.
    
Based on an exercise in *Introduction to Python for Business and Social Sciences*. Frederick Kaefer and Paul Kaefer. In preparation. SAGE Publishing: 2020. All rights reserved.

In [1]:
# use Pandas to hold data &
# in-built statsmodels module for modeling
import pandas as pd
import statsmodels.formula.api as smf

### What's missing here?

* Clean the data!
* Produce _dummy variable(s)_ (1 for Yes, 0 for No)

In [2]:
model_df = pd.read_csv("data/GSS1993_HealthDummy.csv")

print("Observations: ", len(model_df))
model_df.head()

Observations:  1601

,UNHAPPY,AGE,HEALTHY,RINCOM91,EDUC,MALE,TRAUMA1,DIVORCED,WIDOWED,SEPARATED,NEVER_MARRIED,BLACK,OTHER_RACE
0,1,43.0,1,17.00,11.0,1,0,1,0,0,0,0,0
1,0,44.0,0,18.00,16.0,1,0,0,0,0,1,1,0
2,0,43.0,1,18.00,16.0,0,0,1,0,0,0,0,0
3,0,45.0,0,12.33,15.0,0,0,0,0,0,1,0,0
4,0,83.0,1,12.33,11.0,1,1,0,0,0,0,0,0

In [3]:
model_df.describe()

,UNHAPPY,AGE,HEALTHY,RINCOM91,EDUC,MALE,TRAUMA1,DIVORCED,WIDOWED,SEPARATED,NEVER_MARRIED,BLACK,OTHER_RACE
count,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000
mean,0.111181,46.015740,0.152405,12.329619,13.056340,0.427233,0.235478,0.143036,0.106808,0.027483,0.186758,0.110556,0.049969
std,0.314454,17.338264,0.359525,4.260623,3.045789,0.494831,0.424430,0.350219,0.308966,0.163537,0.389839,0.313679,0.217949
min,0.000000,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,32.000000,0.000000,11.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,43.000000,0.000000,12.330000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,58.000000,0.000000,15.000000,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,89.000000,1.000000,21.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
model_df['UNHAPPY'].value_counts()

# another way to count JUST THE 1s is:
#pd.Series(model_df['UNHAPPY'].sum(), index = ['UNHAPPY'])

0    1423
1     178
Name: UNHAPPY, dtype: int64

In [5]:
model_df.groupby(['UNHAPPY']).mean()

,AGE,HEALTHY,RINCOM91,EDUC,MALE,TRAUMA1,DIVORCED,WIDOWED,SEPARATED,NEVER_MARRIED,BLACK,OTHER_RACE
UNHAPPY,,,,,,,,,,,,
0,45.671258,0.127196,12.387217,13.176493,0.432186,0.218552,0.134223,0.094870,0.021785,0.189037,0.108222,0.048489
1,48.769663,0.353933,11.869157,12.095787,0.387640,0.370787,0.213483,0.202247,0.073034,0.168539,0.129213,0.061798

In [6]:
# performs a logistic regression that estimates
# the likelihood of a respondent being unhappy (variable UNHAPPY = 1).
model= smf.logit(formula = "UNHAPPY ~ WIDOWED + DIVORCED + SEPARATED " +
                "+ NEVER_MARRIED + AGE + HEALTHY + RINCOM91 + EDUC " +
                "+ MALE + TRAUMA1", data = model_df).fit()
 
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.317927
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                UNHAPPY   No. Observations:                 1601
Model:                          Logit   Df Residuals:                     1590
Method:                           MLE   Df Model:                           10
Date:                Wed, 29 Jan 2020   Pseudo R-squ.:                 0.08897
Time:                        15:21:33   Log-Likelihood:                -509.00
converged:                       True   LL-Null:                       -558.71
Covariance Type:            nonrobust   LLR p-value:                 7.119e-17
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -2.0274      0.549     -3.696      0.000      -3.102      -0.952
WIDOWED           0.9345      0.288      3.247      0.001       0.370       1.499
DIVORCED          0.8186      0.229      3.582      0.000       0.371       1.267
SEPARATED         1.4125      0.376      3.754      0.000       0.675       2.150
NEVER_MARRIED     0.2921      0.254      1.149      0.251      -0.206       0.790
AGE              -0.0053      0.006     -0.834      0.404      -0.018       0.007
HEALTHY           1.1194      0.191      5.861      0.000       0.745       1.494
RINCOM91         -0.0007      0.022     -0.034      0.973      -0.043       0.042
EDUC             -0.0500      0.030     -1.679      0.093      -0.108       0.008
MALE              0.0434      0.178      0.244      0.807      -0.306       0.392
TRAUMA1           0.5939      0.177      3.355      0.001       0.247       0.941
=================================================================================

### What's next?
* train on a portion of the data & use the rest for testing
* perform cross-validation
* remove variables that have no effect (based on z-score)
* try another type of model